#root {
  /* max-width: 1280px; */
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
}

html, body {
  height: 100%;
  width: 100%;
}

.whole-page {
  height: 100%;
  width: 100%;
  background-color: #ccc;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.block {
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}

.block input {
  position: relative;
  text-align: center;
  margin-top: 40px;
  width: 50px;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
}

.cashier {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin-left: 15px;
  margin-right: 15px;
}

.customer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.game-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin-left: 15px;
  margin-right: 15px;
}

.folder-toggle {
  border: none;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
}

.add-btn {
  border: none;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  font-size: x-small;
  word-wrap: break-word;
  width: 60px;
}

.entry {
  padding-left: 20pt;
  text-align: left;
}

.folder {
  display: flex;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}